.btn{
  border: 2px solid var(--white-200);
  border-radius: 15px;
  background: none;
  padding: 10px 40px;
  color: var(--white);
  font-size: 20px;
  /* box-shadow: inset 0 0 10px red; */
  font-weight: bold;
}