.inputs{
  display: block;
}
input, 
select, 
textarea{
  width: 100%;
  padding: 16px 10px;
  background: none;
  border: 3px solid var(--blue-400);
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 15px;
  outline: none;
  font-size: 1rem;
  color: var(--light-gray);
}
label{
  font-size: 20px;
  font-weight: 500;
}


select{
  appearance: none;
  background-image: url('./../../../public/img/icon/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
} 

textarea{
  min-width: 100%;
  max-width: 100%;
  min-height: 112px;
  font-family: "Roboto", sans-serif;
}