.encabezado{
  width: 100%;
  background: var(--header-bkc);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 50px;
  box-sizing: border-box;
  border-bottom: 4px solid var(--blue-400);
  filter: drop-shadow(5px 0px 45px var(--blue-400));
  position: fixed;
  top: 0;
  z-index: 100;
}
.logo{
  img{
    max-width: 170px;
  }
}
.links{
  display: flex;
  gap: 25px;
}