.footer{
  width: 100%;
  background: var(--header-bkc);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 50px;
  box-sizing: border-box;
  border-top: 4px solid var(--blue-400);
  filter: drop-shadow(5px 0px 45px var(--blue-400));
}
.logo{
  img{
    max-width: 170px;
  }
}

@media (max-width: 600px) {
  .footer{
    display: none;
  }
}